/* CSS RESET */

body {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* ARTICLE CARD STYLES */

.article-card {
    width: clamp(288px, 80vw, 400px);
    margin: 25px auto 25px;
    background-color: hsl(60, 13%, 95%);
}

/* LIST STYLES */

ul {
    /* border: 2px solid grey; */
    display: flex;
    align-items: center;
    padding-left: 0;
    gap: 16px;
}

ul img.social-icon {
    width: 24px;
    height: 24px;
}

li {
    list-style-type: none;
}


/* CONTACT STYLES */

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    /* REMOVE STYLES */
    /* background-color: lightgrey;
    border: 2px solid grey; */
}

.contact .michelle {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.contact__second-wrap {
    display: flex;
    gap: 5px;
    opacity: 1;
    visibility: visible;
    transition: opacity 500ms ease-in-out, visibility 0s linear 0s;
}

.contact__second-wrap.hidden {
    display: flex;
    gap: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in-out, visibility 0s linear 300ms;
}

.contact__para-wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    font-size: clamp(10px, calc(6vw - 14px), 16px);
}

.contact__hidden-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-left: 20px; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 0s linear 200ms;
}

.contact__hidden-wrap.show {
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 1;
    visibility: visible;
    transition: opacity 200ms ease-in-out, visibility 0s linear 0;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms ease-in-out, visibility 0s linear 200ms;
}

.contact .share {
    width: 30px;
    height: 30px;
    margin-inline-end: 20px;
}

article {
    margin-inline: 32px;
}

/* MEDIA QUERIES */

@media(min-width: 1000px) {
    .article-card {
        display: flex;
        width: clamp(500px, 60vw, 700px);
        max-height: 300px;
    }

    .article-card img {
        width: 40%;
    }

}